body {
    background-color: #dff0ea;
    font-family: 'Lato', sans-serif;
    font-size: 0.9em;
    color: #574f7d;
    text-align: center;
    height: 100%;
    
}

div {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}


ol {
    text-align: left;
}

.intro {
    display:flex;
}

.game-title {
    font-size: 3rem;
    font-family: 'Satisfy' , cursive;

    margin-bottom: 0.7em;
}

.after-note {
    font-weight: 900;
}

.key-area {
    height:18.875em;
    width:34em;
    margin:3em auto;
    position:relative;
}

li {
    list-style: none;
    position:relative;
    float:left
}

.white, .black {
    margin:0;
    padding:0;
    list-style:none;
    position:relative;
    float:left
}
.white {
    font-family: 'Satisfy' , cursive;
    height:14em;
    width:4em;
    z-index:1;
    border-left:1px solid #bbb;
    border-bottom:1px solid #bbb;
    border-radius:0 0 5px 5px;
    box-shadow:-1px 0 0 rgba(255,255,255,0.8) inset,0 0 5px #ccc inset,0 0 3px rgba(0,0,0,0.2);
    background:linear-gradient(to bottom,#eee 0%,#fff 100%)
}


.black {
    height:9em;
    width:2em;
    margin:0 0 0 -1em;
    z-index:2;
    border:1px solid #000;
    border-radius:0 0 3px 3px;
    box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset,0 -5px 2px 3px rgba(0,0,0,0.6) inset,0 2px 4px rgba(0,0,0,0.5);
    background:linear-gradient(45deg,#222 0%,#555 100%)
}


.re, .mi, .sol, .la, .si {
    margin:0 0 0 -1em;
}



.key:hover {
    background: #4f3a65;
    text-decoration: none;
    color: #fff;
}

.key:active { 
    box-shadow: 0 3px #666;
    transform: translateY(4px);
  } 

.btn {
    background-color: rgb(221, 207, 189);
    border-radius:50%;
    padding: 5%;
    border: 0px;
    
}


.btn:hover {
    background-color: #a3de83;
}



.wrong {
    background-color: #c64b57;
    color: #effee4;
}

.win {
    background-color: lightgreen;
}

.last-note {
    background: gray;
} 
  
 